body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="number"] {
  width: calc(50% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

form select {
  width: 30%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23989898' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E") no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px;
}

body {
  background-color: #000; /* replace with your desired color */
}


form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border
